html{
    font-size: 62.5%;
    font-family: "Abeezee",sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #f0f2f5;
}


/*===========================TRANG CHÍNH CỦA ADMIN ========*/
/*=========================== Header ======================*/




/*================== ĐỊNH DẠNG THANH MENU ===================*/


/* Định dạng thanh điều hướng trên cùng */

.menu {
    width: 100%;        
    background-color: #394551;    
    height: 50px;
}
.body-menu{
    width: 90%;
    margin: 0 auto;
}

.body-menu >li{
    float: left;
    list-style: none;   
    position: relative ;
}
.body-menu>li>a{
    text-decoration: none;
    color: #fff;
    padding: 0px 17px 0px 17px;
    line-height: 50px;
    display: block;       
    font-size: 20px;   
    font-weight:500;
}


/* Thay đổi màu liên kết khi di chuột qua */
.menu li a:hover {
    background-color:#FFD700;
    color: black;
    font-weight: bold
}
.submenu{
    width: 250px;
    background-color: #394551;
    min-height: 140px;
    display: none; 
    position: absolute;
    font-size: 20px;   
    font-weight:500;
}
.submenu li{
    list-style: none;
}
.submenu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-top: 1px solid rgba(228, 228, 228, 0.678);
    line-height: 50px;
    display: block;
    text-indent: 15px;
}
.body-menu > li:hover .submenu{
    display: block; 
}
.submenu > li > a:hover{
    background-color:#FFD700;
    color:rgb(0, 0, 0);
   
}

/*=====================================================*/
/*======================== CHỈNH LOGO ==================*/

.logo{
    float:left;    
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}
.logo>img{
    width: 65px;
    height: 40px;    
   
}

/*=================== căn phải phần tử admin=================*/

.nameAdmin{
    position:absolute;
    right: 50px;
    line-height: 50px;
    
    
    
}
.nameAdmin > a{
    color:white ;
    padding: 0px 25px 0px 25px;
    text-decoration: none;
    display: block;
    font-size: 20px;   
    font-weight:500;
}
.submenu_admin{
    width: 250px;
    background-color: #394551;
    min-height: 100px;
    display: none; 
    position: absolute;
    font-size: 20px;   
    font-weight:500;
    list-style: none;
}
.submenu_admin li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-top: 1px solid rgba(228, 228, 228, 0.678);
    line-height: 50px;
    display: block;
    text-indent: 15px;
}
.nameAdmin a:hover
{
    background-color:#FFD700;
    color: black;
    font-weight: bold
}
.nameAdmin:hover .submenu_admin{
    display: block; 
    cursor: pointer;
}
.submenu_admin > li > a:hover{
    background-color:FFD700;
    color:rgb(0, 0, 0);
   
}
/*===========================================================*/
/*===========================================================*/
/*===========================================================*/


/*===================== Css form Đầu sách =======================*/

.table_DauSach{
    width:80%;
    margin: 0 auto;    
}

.table_DauSach > tr >th{
    font-size:15px;
    color:aqua;
}
.header_search{
    display:block;
    width:30%;
    margin:0 auto;
    margin-bottom:50px;
}




