body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  

.Center{
    height: auto;
    width: auto;
}

.form-LienHe{
    height: 420px;
    width: 1300px;
    margin-left: 130px;
    margin-top: 30px;
    background-color: rgb(206, 207, 203);
    padding: 15px;
}

.h4{
    color: rgb(41, 173, 235);
    font-style: italic;
    font-family: inherit;
}

.bottom-hr{
    line-height: 1.5em;

}

/*-------CSS Tra Cuu---------------------------------------------*/
/*form đầu tiên form xin chào*/
.TraCuu{
    margin-top: 3px ;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(197, 195, 194);
    line-height: 1em;
}

.TraCuu-XinChao{
    padding: 15px;
}

#h1xc{
    font-family: initial;
    font-style: initial;
}

#inputxc{
    border-radius: 10px; 
    background-color: rgb(51, 145, 233);
    
}
#inputxc:hover{
    background-color: rgb(21, 5, 168);
    color: white;
}

/*form thứ 2 form search*/
.form-search{
    height: 70px;
    width: 1550px;
    border-radius: 7px;
    margin:1px 6px 1px 6px;
    background-color: rgb(139, 139, 143);
}

.full-search{

}

 .search-select{
     float: left;
     height: 30px;
     width: 150px;
     border-radius: 4px;
    
 }

 .search{
     padding-top: 20px;
     padding-left: 250px;
 }
 #textSearch{
    height: 30px;
    width: 550px;
    float: left;
 }

#buttonSearch{
    height: 32px;
    width: 70px;
    background-color: rgb(255, 185, 35);
}
#buttonSearch:hover{
    background-color: rgb(231, 127, 8);
}  

#buttonSearch img{
    display: block;
    width: 49px;
    height: 30px;
    text-align: center;
    margin: auto;

}

/*trợ giúp tìm kiếm*/
.TroGiupTimKiem{
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    border-style: solid;
    border-color: black;
    line-height: 1em ;
}

/* Gợi ý */
.GoiY h5{
    color:rgb(24, 77, 0);
    margin-left: 45px;
    margin-top: 7px;
}
.Grid{
    height: auto;
    width: 100%;
}
.Grid-item{
    background-color: rgb(240, 240, 240);
    height: auto;
    width: 30%;
    float: left;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px 20px 0px 30px;
}

.item-item{
    background-color: cornsilk;
    border: 1px solid red ;
    
    height: auto;
    width: 100%;
}

.item-img{
    width: 50%;
    float: left;   
}
.item-img img{
    padding: 4px;
}

.item-text{
    width: 50%;
    float: right;
    background-color: rgb(248, 246, 250);
    padding: 5px;
}
.item-text h3{
    text-align: center;
}
#box-MoTa{
    height: 120px;
    width: auto;
    border: 1px hidden rgb(32, 32, 32);
    overflow: scroll;
}

.item-text-button{
    height: 30px;
    width: 100px;
    background-color: rgb(41, 173, 235);
    border-radius: 12px;
    margin-left: 100px;
}
.item-text-button:hover{
    background-color: rgb(3, 20, 97);
    color: lightgrey;
}
