/* navbar */
.navbar{
    background-image: linear-gradient(0, #682004, #25f509);
}
.img-logo{
     width: 110px; 
     margin-left: 20px;
     padding-top: 0;
     padding-bottom: 0; 
}
.mr-3{
    margin: 3px 30px 3px;
}
.form_input{
    margin-right: 50px;
}
.search-input{
    padding-top: 10px;
    padding-right: 250px;
}
.nav_login{
    position: relative;
    right:10px ;
}
.icon-user{
    background-color: white;
    height: 25px;
    width: 25px;
    padding-left: 5.5px;
    padding-top: 4.5px;
    border-radius: 50%;
}
/* footer */
.footer_main{
    margin:0 auto;
    width: 100%;
    height:auto;
    list-style: none;
    background-color: #0042A6;
}
.item_logo{
    width: 150px;
    height: 150px;
}
.item_detail_huflit{
    position: absolute;
    right: 100px;
}
.item_detail_list{
    display: flex;
    line-height: 3px;
}
