.App {
    margin: 0px;
    width: auto;
}

.container {
    width: 1000px;
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: rgb(255, 255, 255);
}

.Nav_menu {
    background-color: rgb(255, 255, 255);
}

.Voucher {
    height: 150px;
    width: auto;
    background-color: rgb(134, 209, 238);
}

.form-group label {
    margin: 0px;
}

.a input {
    margin-left: 10px;
}

._1cRq1 {
    width: 900px;
    height: 30px;
}

.md-col-4 {
    margin-left: 70px;
}

.md-3 {
    text-align: center;
}

.iplabel {
    text-align: start;
    margin-left: 8px;
}

.TimKhachSan {
    height: 40px;
    margin-top: 7px;
    background-color: rgb(255, 141, 35);
    color: rgb(255, 255, 255);
}

.TimKhachSan:hover {
    opacity: 0.5;
}

.container-small {
    border-style: solid;
    border-width: medium;
}

.titel-h4 h4 {
    margin-top: 30px;
}

.form-control {
    margin-right: 10px;
}

.img-PartnerHotel {
    height: 310px;
    width: auto;
}


/*--------Giao Diá»‡n Grid-List-4*/

.tt-h3 {
    text-align: center;
}

.card-image-GridList4 {
    position: relative;
    margin-top: 22px;
}

.Gridlist4-GridList4 {
    position: absolute;
    top: 10px;
    left: 30px;
}

.tt-gl4 {
    color: blanchedalmond;
}

.int-gl4 {
    color: blanchedalmond;
    font-size: 15px;
}

.image-GridList4 {
    width: 300px;
    height: 200px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    background-size: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card-image-GridList4:hover .image-GridList4 {
    opacity: 0.5;
}

.card-image-GridList4:hover .middle {
    opacity: 0.7;
}

.middle a {
    text-decoration: none;
}

.text {
    border-style: solid;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 22px;
}


/*----Poster*/

.Poster img {
    width: 100%;
    height: 500px;
}