.App {
    margin: 0px;
    width: auto;
}

.container {
    width: 1000px;
    background-color: slategrey;
}

.header {
    background-color: rgb(255, 255, 255);
}

.Nav_menu {
    background-color: rgb(165, 160, 160);
}

.Voucher {
    height: 150px;
    width: auto;
    background-color: rgb(134, 209, 238);
}

.form-group label {
    margin: 0px;
}

.a input {
    margin-left: 10px;
}

._1cRq1 {
    width: 900px;
    height: 30px;
}

.NhanPhong {}

.md-col-4 {
    margin-left: 50px;
}