html{
    font-size: 62.5%;
    font-family: "Abeezee",sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #e5eaf5;
}


/*===========================TRANG CHÍNH CỦA ADMIN ========*/
/*=========================== Header ======================*/
.header > img{
    width: 30%;
    margin-left: 15px;
}



/*================== ĐỊNH DẠNG THANH MENU ===================*/

/* Định dạng thanh điều hướng trên cùng */
.menu {
    width: 100%;
    overflow: hidden;
    background-color: #121212;
    
}

/* Định dạng link điều hướng */
.menu a {
    float: left;
    display: block;
    color: #d4d4d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-right: 2px solid #d4d4d4;
    
    
}

/* Thay đổi màu liên kết khi di chuột qua */
.menu a:hover {
    background-color: #dfdfdf;
    color: black;
    font-weight: bold
}
/*===========================================================*/







/* =========== TRANG LOGIN ========= */
/*============================================*/

.login{
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px 40px 40px;
}

/*========== LOGO + tên trường ==============*/
.header-login{    
    padding: 0px;
    margin-bottom: 20px;
 }
 .header-login > img{
     display: block;
     width: 60%;   
     margin: 0 auto;
     margin-bottom: 10px;
 }
 .header-login > h4 
 {   
     text-align: center;
     color: #324175;
     font-weight: 600;
     font-size: 16px;
     padding: 0;
     margin: 0; 
 }
 .header-login > h5{
     text-align: center;
     color: #324175 ;    
     font-size: 14px;
     padding: 0;
     margin: 25px 0 0px;

 }
 /* =========== Đường line kẻ ngang ============*/
.line
{
    position: relative;
    text-align: center;
    height: 20px;
    margin-bottom: 20px;
    
}
.line > .line-or{
    position: absolute;
    height: 1px;
    top: 10px;
    top: 10px;
    left: 40px;
    right: 40px;
    background-color: #999;    
}
.line > .or{
    
    position: absolute;
    top: 0;
    -lh-property: 0;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 20px;
    background-color: #fff;
    color: rgb(3, 3, 3);
    margin: 0 auto;
    
}

/*========== phần thân Login =============*/

.login-field{
    display: flex;
    align-items: center;
    background-color: #e9effa;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.login-icon{
    color: #344667;
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.login-input{
    border: 0;
    padding: 0 0 0 15px;
    background-color: transparent;
    outline: none;
    font-family: "Abeezee",sans-serif;
    width: 100%;
    font-size: 14px;
}
.login-submit{
    color: white;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    background-color: #435ebe;
    cursor: pointer;
    font-family: "Abeezee",sans-serif;
    font-size: 14px;
    outline: none;

}
.login-forgot-password{
    text-decoration: none;
    display: block;
    text-align: right; 
    margin-bottom: 20px;
    color: #3f57ad;
    font-weight: 600;
    font-size: 11px;
}

/*==============================================================================*/