html{
    font-size: 62.5%;
    font-family: "Abeezee",sans-serif;
}
*{
    box-sizing: border-box;

}
body{
    background-color: #e5eaf5;
}
.login{
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}
.login-field{
    display: flex;
    align-items: center;
    background-color: #f2f7ff;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.login-icon{
    color: #344667;
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.login-input{
    border: 0;
    padding: 0 0 0 15px;
    background-color: transparent;
    outline: none;
    font-family: "Abeezee",sans-serif;
}